IBM-Hack-Challenge-2020-main/Impact-of-COVID-19-on-Food-Security-Visualization-Dashboard-master/Project Code/Node Red Flow.json
[{"id":"dfffcca8.94474","type":"tab","label":"AIFlow ","disabled":false,"info":""},{"id":"1fab6a00.457ce6","type":"function","z":"dfffcca8.94474","name":"PreToken","func":"global.set(\"lb\",msg.payload.lb)\nglobal.set(\"d\",msg.payload.d)\nglobal.set(\"ni\",msg.payload.ni)\nglobal.set(\"hcb\",msg.payload.hcb)\nglobal.set(\"shcb\",msg.payload.shcb)\nglobal.set(\"mi\",msg.payload.mi)\nglobal.set(\"bp\",msg.payload.bp)\nglobal.set(\"un\",msg.payload.un)\nglobal.set(\"c\",msg.payload.c)\nglobal.set(\"s\",msg.payload.s)\nglobal.set(\"m\",msg.payload.m)\nglobal.set(\"ld\",msg.payload.ld)\nglobal.set(\"ds\",msg.payload.ds)\nvar apikey=\"qu7tjuzewVU5teN-MuSsItHs9YxKFGzh7PrIN7H0wsXH\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":300,"wires":[["62c44145.be443"]]},{"id":"62c44145.be443","type":"http request","z":"dfffcca8.94474","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":300,"wires":[["d2ce8f3d.0d5b1","742764.f066a89c"]]},{"id":"c78f8b75.f9ab38","type":"inject","z":"dfffcca8.94474","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":300,"wires":[["1fab6a00.457ce6"]]},{"id":"760399a7.19fe68","type":"debug","z":"dfffcca8.94474","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1030,"y":140,"wires":[]},{"id":"742764.f066a89c","type":"function","z":"dfffcca8.94474","name":"Pre Prediction","func":"var  lb= global.get('lb')\nvar  d= global.get('d')\nvar  ni= global.get('ni')\nvar  hcb= global.get('hcb')\nvar  shcb= global.get('shcb')\nvar  mi= global.get('mi')\nvar  bp= global.get('bp')\nvar  un= global.get('un')\nvar  c= global.get('c')\nvar  s= global.get('s')\nvar  m= global.get('m')\nvar  rp= global.get('rp')\nvar  ld= global.get('ld')\nvar ds = global.get('ds')\nvar token=msg.payload.access_token\nvar instance_id=\"40840564-7454-4cd5-bd79-818affc8ce2a\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={input_data:[{\"fields\": [\"low_birthweight\", \"disability\", \"no_insurance\", \"housing_cost_burdened\", \"severely_housing_cost_burdened\", \"median_income\", \"below_poverty\", \"unemployment\", \"children\", \"seniors\", \"migrants\", \"rural_population\",\"Supply&Demand\",\"lockdown_days\"], \"values\": [[lb,d,ni,hcb,shcb,mi,bp,un,c,s,m,rp,ld,ds]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":300,"wires":[["1c5f12d5.34cf3d"]]},{"id":"1c5f12d5.34cf3d","type":"http request","z":"dfffcca8.94474","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/1e12f633-0455-4dec-9583-4e52f7ff8fe3/predictions","tls":"","persist":false,"proxy":"","authType":"","x":790,"y":300,"wires":[["c663d847.62f708","913860fc.0b53"]]},{"id":"66728af5.4cf014","type":"ui_form","z":"dfffcca8.94474","name":"","label":"","group":"9980e3b5.945bf","order":2,"width":0,"height":0,"options":[{"label":"Malnutrition(in percent)","value":"lb","type":"number","required":true,"rows":null},{"label":"Disability(in percent)","value":"d","type":"number","required":true,"rows":null},{"label":"No_insurance(in percent)","value":"ni","type":"number","required":true,"rows":null},{"label":"Access_to_food(in percent)","value":"hcb","type":"number","required":true,"rows":null},{"label":"Severely_housing_cost_burdened(in percent)","value":"sh","type":"number","required":true,"rows":null},{"label":"median_income(in amount rupees)","value":"mi","type":"number","required":true,"rows":null},{"label":"below_poverty(in percent)","value":"bp","type":"number","required":true,"rows":null},{"label":"unemployment(in percent)","value":"un","type":"number","required":true,"rows":null},{"label":"children(in percent)","value":"c","type":"number","required":true,"rows":null},{"label":"seniors(in percent)","value":"s","type":"number","required":true,"rows":null},{"label":"migrants(in percent)","value":"m","type":"number","required":true,"rows":null},{"label":"rural_population(in percent)","value":"rp","type":"number","required":true,"rows":null},{"label":"Supply&Demand(in percent)","value":"sd","type":"number","required":true,"rows":null},{"label":"lockdown_days(in percent)","value":"ld","type":"number","required":true,"rows":null}],"formValue":{"lb":"","d":"","ni":"","hcb":"","sh":"","mi":"","bp":"","un":"","c":"","s":"","m":"","rp":"","sd":"","ld":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":380,"wires":[["1fab6a00.457ce6"]]},{"id":"8a84d9e1.c874b8","type":"ui_text","z":"dfffcca8.94474","group":"9980e3b5.945bf","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"col-center","x":820,"y":120,"wires":[]},{"id":"913860fc.0b53","type":"function","z":"dfffcca8.94474","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":220,"wires":[["760399a7.19fe68","8a84d9e1.c874b8","2f34f806.487e68"]]},{"id":"c663d847.62f708","type":"debug","z":"dfffcca8.94474","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":840,"y":440,"wires":[]},{"id":"d2ce8f3d.0d5b1","type":"debug","z":"dfffcca8.94474","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":420,"wires":[]},{"id":"2f34f806.487e68","type":"ui_gauge","z":"dfffcca8.94474","name":"","group":"9980e3b5.945bf","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#e10e0e"],"seg1":"","seg2":"","x":930,"y":220,"wires":[]},{"id":"3b0dc0f3.95179","type":"inject","z":"dfffcca8.94474","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":"","x":1110,"y":300,"wires":[["874afd0a.48f23"]]},{"id":"874afd0a.48f23","type":"function","z":"dfffcca8.94474","name":"shcb(line)","func":"ran=parseInt(Math.random()*100);\nmsg.topic=\"People\"\nran.labels = [10,20,30,40,50,60,70];\nmsg.payload = ran;\nreturn msg;","outputs":1,"noerr":0,"x":1260,"y":300,"wires":[["861c7151.6dcc8"]]},{"id":"51fae9b8.e4f838","type":"function","z":"dfffcca8.94474","name":"label3","func":"var m={};\nm.labels = [10,20,30,40,50,60,70];\nm.series = ['Single aged person', 'Aged couple', 'couple without children', 'couple with children'];\nm.data = [\n    [65, 59, 80, 81, 56, 55, 40],\n    [28, 48, 40, 19, 86, 27, 90],\n    [38, 28, 20, 49, 45, 60, 20],\n    [58, 18, 40, 29, 15, 30, 60]\n  ];\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":1290,"y":340,"wires":[["ac6a2657.2c6e28"]]},{"id":"cc50d93a.84edf8","type":"inject","z":"dfffcca8.94474","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":"","x":1110,"y":340,"wires":[["51fae9b8.e4f838"]]},{"id":"aa64712e.c4e71","type":"inject","z":"dfffcca8.94474","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":"","x":1090,"y":380,"wires":[["6562fc30.0fb804"]]},{"id":"35738e2b.ceb372","type":"inject","z":"dfffcca8.94474","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":"","x":1070,"y":620,"wires":[["78b098ef.3163a8"]]},{"id":"dcefaec6.3617e","type":"inject","z":"dfffcca8.94474","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":"","x":1090,"y":480,"wires":[["d87aa8c3.927638"]]},{"id":"78b098ef.3163a8","type":"function","z":"dfffcca8.94474","name":"unemployment(radar","func":"var m = [\n    {label:\"Female\", payload:50},\n    {label:\"Male\", payload:90},\n    {label:\"other\", payload:90},\n    ];\nreturn [m];","outputs":1,"noerr":0,"x":1280,"y":620,"wires":[["ecf491b2.eea59"]]},{"id":"b78c65d4.2dafd8","type":"inject","z":"dfffcca8.94474","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":"","x":1090,"y":560,"wires":[["6543d192.42d99"]]},{"id":"6543d192.42d99","type":"function","z":"dfffcca8.94474","name":"Access food(polar)","func":"var f = [\n    {label:\"Ann Yojana\", payload:59.25},\n    {label:\"food distribution\", payload:11.75},\n    {label:\"others\", payload:20}\n    ];\nreturn [f];","outputs":1,"noerr":0,"x":1290,"y":540,"wires":[["612eeca2.4a3834"]]},{"id":"612eeca2.4a3834","type":"ui_chart","z":"dfffcca8.94474","name":"","group":"2dd87cb7.0aa964","order":6,"width":0,"height":0,"label":"polar chart","chartType":"polar-area","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"1","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1490,"y":580,"wires":[[]]},{"id":"ecf491b2.eea59","type":"ui_chart","z":"dfffcca8.94474","name":"","group":"9bb8090a.da0ce8","order":7,"width":0,"height":0,"label":"radar chart","chartType":"radar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1490,"y":620,"wires":[[]]},{"id":"d87aa8c3.927638","type":"function","z":"dfffcca8.94474","name":"Malnutrition(pie)","func":"var g = [\n    {label:\"Weight loss\", payload:21.6},\n    {label:\"underweight\", payload:4.4},\n    {label:\"postsurgical nonabsorption\", payload:1.7},\n    {label:\"Nutritional neglect\", payload:8.4},\n    {label:\"Protein-calorie Malnutrition\", payload:63.9}\n    ];\nreturn [g];","outputs":1,"noerr":0,"x":1310,"y":480,"wires":[["18503596.1b6e6a"]]},{"id":"18503596.1b6e6a","type":"ui_chart","z":"dfffcca8.94474","name":"","group":"917a77c3.bb0178","order":3,"width":0,"height":0,"label":"Pie chart","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1510,"y":500,"wires":[[]]},{"id":"6562fc30.0fb804","type":"function","z":"dfffcca8.94474","name":"","func":"var b = [\n    {label:\"A\", payload:95, series:\"Nov 2019\"},\n    {label:\"B\", payload:85, series:\"Feb 2020\"},\n    {label:\"C\", payload:20, series:\"May 2020\"},\n    {label:\"A\", payload:91, series:\"Dec 2019\"},\n    {label:\"B\", payload:69, series:\"Mar 2020\"},\n    {label:\"C\", payload:25, series:\"June 2020\"},\n    {label:\"A\", payload:95, series:\"jan 2020\"},\n    {label:\"B\", payload:37, series:\"April 2020\"},\n    {label:\"C\", payload:45, series:\"July 2020\"}\n    ];\nreturn [b];","outputs":1,"noerr":0,"x":1280,"y":380,"wires":[["ce93c295.e2a3c"]]},{"id":"ce93c295.e2a3c","type":"ui_chart","z":"dfffcca8.94474","name":"","group":"413188e5.2a5198","order":3,"width":0,"height":0,"label":"Horizontal Bar chart","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ce6b69","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1550,"y":400,"wires":[[]]},{"id":"861c7151.6dcc8","type":"ui_chart","z":"dfffcca8.94474","name":"","group":"e84eefc4.941ef","order":0,"width":0,"height":0,"label":"Line chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1550,"y":300,"wires":[[]]},{"id":"ac6a2657.2c6e28","type":"ui_chart","z":"dfffcca8.94474","name":"","group":"708ef570.30c49c","order":0,"width":0,"height":0,"label":"Bar chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1550,"y":360,"wires":[[]]},{"id":"9980e3b5.945bf","type":"ui_group","z":"","name":"Food Security Level","tab":"ee0b0c22.cc1dd","order":1,"disp":true,"width":"6","collapse":false},{"id":"2dd87cb7.0aa964","type":"ui_group","z":"","name":"Access to food","tab":"ee0b0c22.cc1dd","order":8,"disp":true,"width":"6","collapse":false},{"id":"9bb8090a.da0ce8","type":"ui_group","z":"","name":"Unemployment","tab":"ee0b0c22.cc1dd","order":7,"disp":true,"width":"6","collapse":false},{"id":"917a77c3.bb0178","type":"ui_group","z":"","name":"Malnutrition","tab":"ee0b0c22.cc1dd","order":5,"disp":true,"width":"6","collapse":false},{"id":"413188e5.2a5198","type":"ui_group","z":"","name":"Supply&Demand","tab":"ee0b0c22.cc1dd","order":4,"disp":true,"width":"6","collapse":false},{"id":"e84eefc4.941ef","type":"ui_group","z":"","name":"severely_housing_cost_burdened","tab":"ee0b0c22.cc1dd","order":1,"disp":true,"width":"6","collapse":false},{"id":"708ef570.30c49c","type":"ui_group","z":"","name":"Below Poverty","tab":"ee0b0c22.cc1dd","order":11,"disp":true,"width":"6","collapse":false},{"id":"ee0b0c22.cc1dd","type":"ui_tab","z":"","name":"Food Security Level Prediction & Visualization Dashboard","icon":"dashboard","disabled":false,"hidden":false}]